#game {
   background-color: gray;
   align-items: center
}
.win{
    font-family: 'Karla', sans-serif;
    color: navy;
    font-size: 700px;
    align-items: center
}   
.red{
    font-family: 'Cute Font', cursive;
    color:darkred;
    font-size: 500px;
    align-items: center
}
.losses{
    font-family: 'Righteous', cursive;
    color:yellow;
    font-size: 500px;
    align-items: center;
   
}
.left{
    font-family: 'Monoton', cursive;
    color:green;
    font-size: 500px;
    align-items: center
}
.your{
    font-family: 'Cabin Sketch', cursive;
    color:rgb(7, 72, 73)
    font-size: 500px;
    align-items:center
}
